# App Configuration
APP_ENV=
APP_DEBUG=
APP_NAME=
APP_VERSION=

# Security
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# Database
DATABASE_URL=

# Admin Seed User
ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Logging
LOG_LEVEL=